@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* RESET */
* {
    margin: 0px auto;
    padding: 0px auto;
    font-family: 'Poppins', sans-serif;

}

/* HEADER */
header {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #403D39;
}

.logo {
    color: #FFFCF2;
    text-shadow: 1px 0px 2px black, 0 0 0.2em #D6E3F8;

}

.menu a {
    color: #FFFCF2;
    text-shadow: 1px 0px 2px black, 0 0 0.2em #D6E3F8;
    text-decoration: none;
    padding: 0px 30px;
    font-weight: bold;
}

.menu a:hover {
    color: #EB5E28;
    transition: 0.8s;

}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu,
.esconder-menu {
    color: #EB5E28;
    transition: 1s;

}

#check {
    display: none;
}

/* MAIN */
.contenido {
    background-color: #FFFCF2;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 20px;
}

.contenido {
    margin: 0 auto;
    padding: 40px 100px;
    text-align: center;



}

.contenido-imagen {
    width: 70%;

}

.about {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: center;
    padding: 50px 30px;
    gap: 100px;

}

.about h2 {
    font-weight: 600;
    color: #424955;
    margin-bottom: 10px;


}

.contenido-imagen img {
    width: 100%;

}

a button {
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 4px;
    background: #EB5E28;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.contenido a button:hover {
    color: #424955;
    transition: 0.3s;
}

/* SECTION */
#empleados {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 50px 0px 50px;


}

.profiles {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.profiles img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    object-fit: contain;

}

.profiles:hover {
    padding: 30px;
    background: #f0f0f0;
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: #f0f0f0;
    cursor: pointer;
}

.profiles a>i {
    font-size: 30px;
    color: #123e47;
}

.profiles a button:hover {
    color: #424955;
    transition: 0.3s;
}

/* ICONOS */
#iconos {
    padding: 50px;

}

.iconos-lista {
    padding: 0px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.iconos-lista div {
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid #424955;
}

#mobile {
    border: none;
}

.iconos-lista div,
i,
h6 {
    padding: 10px 0px;

}

.iconos-lista div i {
    font-size: 50px;
    color: #424955
}

.iconos-lista div h6 {
    font-size: 20px;
    font-weight: 50px;
    margin: 10px 0px;
}

.iconos-lista div p {
    font-size: 15px;
    padding: 0px 30px;
}

button.iconos {
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 4px;
    background: #EB5E28;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.iconos:hover {
    color: #424955;
    transition: 0.3s;
}

.icon-align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

/* FOOTER */
.footer {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #403D39;
    color: #FFFCF2;
}

.left-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-footer img {
    width: 45px;
    object-fit: 100%;
}

.left-footer a {
    text-decoration: none;
}

.right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-footer div{
    padding: 20px;
    display: inline-grid;
    
}
.right-footer div > p{
    text-align: center;
    
}

.right-footer span {
    letter-spacing: 5px;
    margin-top: 20px;
    align-items: center;
    padding: 10px 15px;
    background: #FFFCF2;
    border-radius: 6px;
}
.right-footer span input {
    font-size: 15px;
    padding: 5px;
}



/* RESPONSIVE */

    @media (max-width: 968px) {

        .mostrar-menu,
        .esconder-menu {
            display: block;
            
        }
        .mostrar-menu{
            margin-right: 0;
        }
        .logo{
            margin-left: 0;
        }

        #empleados {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .menu {
            display: block;
            position: fixed;
            width: 50%;
            height: 100vh;
            background: #92908d;
            right: 0;
            top: 0;
            text-align: center;
            padding: 100px 0px;
            transition: 0.5s;
        }
        .menu a {
            letter-spacing: 1px;
            display: block;
            padding: 30px;
        }
        .menu a:hover,
        .esconder-menu:hover {
            color: #EB5E28;
            transition: 1s;
        }
        .esconder-menu {
            position: absolute;
            font-size: 2em;
            transition: 0.5s;
            display: block;
            color: #36393d;
            position: absolute;
            top: 31px;
            right: 48px;
        }
        #check:checked~.menu {
            display: none;
        }
        .iconos-lista {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        #accesible {
            border: none;
        }
        .left-footer img, h2{
            font-size: 20px;
        }
        .footer {
            grid-template-columns: repeat(1, 1fr);
            gap: 50px;
        }
    }




    @media (max-width: 768px) {
        #empleados {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        #iconos {
            padding: 0px 0px 50px 0px;
        }
        .footer {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .about{
            grid-template-columns: repeat(1, 70%);
        }
    }
    


    @media (max-width: 576px) {
        .iconos-lista {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .iconos-lista div {
            border: none;
        }
    }
